{% extends 'app.twig' %}

{% block breadcrumb %}
	<!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>E - Shop</h2>
                        <h4 class="breadcrumb__color">Acceuil</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <br><br>
{% endblock  %}
{% block content %}
	<!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Nos Articles</span>
                        </div>
                        <div class="featured__controls">
	                        <ul class="space">
	                        	<p><li class="active" data-filter="*" >Tout</li></p>
	                        	{% for c in categories %}
							        <p><li  data-filter=".{{c.libelle_categorie}}" >{{c.libelle_categorie}}</li></p>          
							    {% endfor %}
	                        </ul>
	                        <br>
	                        <br>
	                    </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">

                        <div class="hero__search__form">
                            <form action="{{ path_for('home_search') }}" method="POST">
                            	<div class="hero__search__categories">
									<input list="type" name="type" placeholder="Tout">
									<datalist id="type">
										{% for c in categories %} 
									        <option value="{{c.libelle_categorie}}">         
									    {% endfor %}
									</datalist>
		                            {# <span class="arrow_carrot-down"></span> #}
		                        </div>
                                <input type="text" name='search' placeholder="De quoi avez vous besoin?">
                                <button type="submit" class="site-btn">Rechercher</button>
                            </form>
                        </div>
                        
                    </div>
                    <div class="row featured__filter">
                    	{% if articles is empty %}
                    		<h2>Auccun resultat</h2>
	                	{% else %}
	                		{% for a in articles %}
	                    		<div class="col-lg-3 col-md-4 col-sm-6 mix {{a.libelle_categorie}}">
				                    <div class="featured__item">
				                        <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-1.jpg">
				                            <ul class="featured__item__pic__hover">
				                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
				                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
				                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
				                            </ul>
				                        </div>
				                        <div class="featured__item__text">
				                            <h6><a href="#">{{a.libellé_article}}</a></h6>
				                            <h5> {{a.prix_article}} F.CFA</h5>
				                        </div>
				                    </div>
				                </div>
	                    	{% endfor %}
	                	{% endif %}
		            </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
{% endblock  %}